
.vs/ByteClubSite/DesignTimeBuild/.dtbcache.v2
.vs/ByteClubSite/DesignTimeBuild/.dtbcache.v2
.vs/ByteClubSite/v16/.suo
.vs/ByteClubSite/DesignTimeBuild/.dtbcache.v2
.vs/ByteClubSite/v16/.suo
appsettings.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/ByteClubSite.dll
bin/Debug/netcoreapp3.1/ByteClubSite.pdb
bin/Debug/netcoreapp3.1/ByteClubSite.Views.dll
bin/Debug/netcoreapp3.1/ByteClubSite.Views.pdb
*.cache
obj/Debug/netcoreapp3.1/ByteClubSite.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ByteClubSite.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ByteClubSite.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ByteClubSite.dll
obj/Debug/netcoreapp3.1/ByteClubSite.pdb
obj/Debug/netcoreapp3.1/ByteClubSite.Views.dll
obj/Debug/netcoreapp3.1/ByteClubSite.Views.pdb
obj/Debug/netcoreapp3.1/Razor/Pages/CreateUser.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Minecraft.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/project.nuget.cache
