@page
@model ByteClubSite.Pages.ErrorAccessDeniedModel

<h1 class="text-light">Access Denied</h1>

@{
    if (!Model.LoginMsg)
    {
        <div class="text-light">
            <h3>You are not logged in.</h3>
            <p><a class="text-light" asp-page="/Login">Go to Login</a></p>
            <br />
        </div>
    }
    else
    {
        <div class="text-light">
            <h3>You do not have permission to view this page.</h3>
            <br />
        </div>
    }
}

<br />

<p><a asp-page="/Index" class="text-light">Return to Home Page</a></p>