@page
@model ByteClubSite.Pages.ErrorAccessDeniedModel

<h1 class="text-light">Access Denied</h1>

<div class="text-light">@Html.Raw(Model.Msg)</div>

<br />

<p><a asp-page="/Index" class="text-light">Return to Home Page</a></p>