@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using System.Text.Json;
@using ByteClubSite.Models;
@using System.IO;

<div class="container text-light">
    <h1>Recent</h1>
    <br />
    <p>This site is under construction.</p>
    <br /><br />
    <div class="container blog">
        @{
            foreach (var data in Model.BlogPosts)
            {
                //Display Post (VS keeps unindenting this. idk why)
                //.Raw makes it so the < and > characters are actually read as tag syntax
                <div class="blog-item">
                    <h2>@data.Title</h2>
                    <p>Posted by: @data.Author</p>
                    <div>
                        @Html.Raw(data.Body)
                    </div>
                </div>
            }
        }
    </div>
</div>
