@page
@model ByteClubSite.Pages.ManagePostsModel


<a class="btn btn-danger text-white" style="cursor:pointer; width:70px;" asp-page-handler="DeletePost" asp-route-id="1">Delete</a>
<table id="DT_load" class="table table-striped table-bordered text-light" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Body</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/ManagePosts.js"></script>
}