@page
@model ByteClubSite.Pages.MinecraftModel
@{
}

<div id="info" class="text-light">
    <h2>Current Version: Minecraft Java Edition 1.16.4</h2> 
    <p>
        The Byte Club Java Minecraft Server
        is free to all members of Byte Club, however,
        non-members can join by paying a one time fee
        of three dollars. If you are intrested in joining
        the server please fill out the form located on the
        forms page. Once the form is completed you can
        whitelist yourself in the Byte Club Discord Server
        or by messaging a Byte Club officer.
        <a href="http://byteclub.cf/bytecraft/dynmap/">You can also view a Live Dynamic Map of the Minecraft Server</a>
    </p>
</div>
<div>
    <img class ="mcimg" src="/img/Minecraft/giant.png" />
    <br /><br /><br /><br /><br />
    <img class ="mcimg" src="/img/Minecraft/vorvon_base.png" />
</div>
